<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Token:</strong>
    {{ currentUser.token.substring(0, 20) }} ...
    {{ currentUser.token.substr(currentUser.token.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>

<br><h3>Change password</h3><br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Current password</th>
    <th scope="col">New password</th>
    <th scope="col">Password form</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <input type="password" class="form-control" name="oldPassword" [(ngModel)]="formChangePassword.oldPassword" required #oldPassword="ngModel"/>
    </td>
    <td>
      <input type="password" class="form-control" name="newPassword" [(ngModel)]="formChangePassword.newPassword" required #newPassword="ngModel"/>
    </td>
    <td>
      <select required name="passwordForm" #passwordForm="ngModel" [(ngModel)]="formChangePassword.passwordForm">
        <option *ngFor="let passwdForm of passwordForms" [ngValue]="passwdForm">
          {{passwdForm}}
        </option>
      </select>
    </td>
    <td>
      <button (click)="onClickChangePassword()" type="button" class="btn"><i class="far fa-share-square"></i></button>
    </td>
  </tr>
  </tbody>
</table>

<br><h3>Last logins</h3><br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">successful</th>
    <th scope="col">unsuccessful</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <strong>IP:</strong> {{ lastLoginAttemptsLogs.lastSuccessfulLoginAttempt.ip }}
    <br>
      <strong>timestamp:</strong> {{ lastLoginAttemptsLogs.lastSuccessfulLoginAttempt.timestamp }}
    </td>
    <td>
      <strong>IP:</strong> {{ lastLoginAttemptsLogs.lastFailedLoginAttempt.ip }}
      <br>
      <strong>timestamp:</strong> {{ lastLoginAttemptsLogs.lastFailedLoginAttempt.timestamp }}
    </td>
  </tr>
  </tbody>
</table>

<br><h3>Permanently Locked IP</h3><br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">IP</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ipAddressLock of permanentlyLockedIps">
    <td>{{ipAddressLock.ip}}</td>
    <td>
      <button (click)="onClickDeletePermanentlyLockedIp(ipAddressLock.id)" type="button" class="btn px-3"><i class="fas fa-trash-alt"></i></button>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #loggedOut>
  Please login.
</ng-template>
