<h4>New password</h4>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Login</th>
    <th scope="col">Description</th>
    <th scope="col">Password</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <input type="text" class="form-control" name="name" required minlength="1"
        [(ngModel)]="formNewPassword.name" #name="ngModel" />
    </td>
    <td>
      <input type="text" class="form-control" name="login" required minlength="1"
             [(ngModel)]="formNewPassword.login" #login="ngModel" />
    </td>
    <td>
      <input type="text" class="form-control" description="description" required minlength="1"
             [(ngModel)]="formNewPassword.description" #description="ngModel" />
    </td>
    <td>
      <input type="password" class="form-control" name="password" required minlength="1"
             [(ngModel)]="formNewPassword.password" #password="ngModel" />
    </td>
    <td>
      <button (click)="onClickNewPassword()" type="button" class="btn"><i class="fas fa-plus-circle"></i></button>
    </td>
  </tr>
  </tbody>
</table>

<br>
<h4>Passwords</h4>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Login</th>
    <th scope="col">Description</th>
    <th scope="col">Password</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let walletPassword of walletPasswords">
    <td>{{walletPassword.name}}</td>
    <td>{{walletPassword.login}}</td>
    <td>{{walletPassword.description}}</td>
    <td>{{walletPassword.password}}</td>
    <td>
        <button (click)="onClickShow(walletPassword.id)" type="button" class="btn px-3"><i class="fas fa-binoculars"></i></button>
        <button (click)="onClickDelete(walletPassword.id)" type="button" class="btn px-3"><i class="fas fa-trash-alt"></i></button>
    </td>
  </tr>
  </tbody>
</table>
