<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Login</th>
    <th scope="col">Description</th>
    <th scope="col">Password</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let walletPassword of walletPasswords">
    <td>{{walletPassword.name}}</td>
    <td>{{walletPassword.login}}</td>
    <td>{{walletPassword.description}}</td>
    <td>{{walletPassword.password}}</td>
    <td>
        <button (click)="onClickShow(walletPassword.id)" type="button" class="btn px-3"><i class="fas fa-binoculars"></i></button>
    </td>
  </tr>
  </tbody>
</table>
