<div class="modal-header">
  <h4 class="modal-title">Update Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Name</span>
    <input type="text" class="form-control" aria-label="name" aria-describedby="basic-addon1" required minlength="1"
           [(ngModel)]="formUpdatePassword.name" #name="ngModel"/>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">Login</span>
    <input type="text" class="form-control" aria-label="login" aria-describedby="basic-addon1" required minlength="1"
           [(ngModel)]="formUpdatePassword.login" #login="ngModel"/>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">Description</span>
    <input type="text" class="form-control" aria-label="description" aria-describedby="basic-addon1" required minlength="1"
           [(ngModel)]="formUpdatePassword.description" #description="ngModel"/>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon4">Confirm Old Password</span>
    <input type="password" class="form-control" aria-label="oldPassword" aria-describedby="basic-addon1" required minlength="1"
           [(ngModel)]="formUpdatePassword.oldPassword" #oldPassword="ngModel"/>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon5">New Password</span>
    <input type="password" class="form-control" aria-label="newPassword" aria-describedby="basic-addon1" required minlength="1"
           [(ngModel)]="formUpdatePassword.newPassword" #newPassword="ngModel"/>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isError">
    <p *ngIf="errorMessage == null">Error</p>
    <p>{{errorMessage}}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="onClickUpdate()">Update</button>
</div>
